@{
    ViewData["Title"] = "Query Result";
}

<table class="table-hover">

    <tr>
        <th>Bezeichnung</th>
        <th>Postleitzahl</th>
        <th>Ort</th>
        <th>Bankleitzahl</th>
        <th>BIC</th>
        <th>Kurzbezeichnung</th>
    </tr>

    @foreach (Bank_Tabelle dataSet in ViewBag.QueryResult)
    {
        <tr @*onmouseover="style.backgroundColor = '#4d0000'" onmouseout="style.backgroundColor = document.body.style.backgroundColor"*@>
            <td>@dataSet.Bezeichnung</td>
            <td>@dataSet.PLZ</td>
            <td>@dataSet.Ort</td>
            <td>@dataSet.BLZ</td>
            <td>@dataSet.BIC</td>
            <td>@dataSet.Kurzbezeichnung</td>
        </tr>
    }

    @if (ViewBag.QueryResult.Length >= 10)
    {
        <tr>
            <th>Bezeichnung</th>
            <th>Postleitzahl</th>
            <th>Ort</th>
            <th>Bankleitzahl</th>
            <th>BIC</th>
            <th>Kurzbezeichnung</th>
        </tr>
    }

</table>
